body {
    margin: 0;
    background-image: url("Up_meera.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; 
    background-attachment: fixed;  
}

.shape {
width: 1470px;
position: fixed;
top: 0px;
left: 0px;
transition: opacity 0.8s ease;
}

.shape.hidden {
    opacity: 0;
}